body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
header {
    text-align: center;
    background: url("image/background.jpg");
    background-size: cover;
    color: white;
   
  }
  a {
    color: white;
  }
  a:hover {
    color: pink;
}
a:link {
    text-decoration: none;
}

  h1 {
    font-size: 70px;
    font-family: 'Josefin Sans', sans-serif;
  }
  h2 {
    font-family: 'Josefin Sans', sans-serif;
  }
  p{
    font-family: 'Rubik', sans-serif;
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 11px solid white;
    border-radius: 8px;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  .picture {
    margin: 40px 0px 0px 0px;
    border: 11px solid lightblue;
    border-radius: 8px;
  }
  .up{
    position: relative; 
    top: -50px; 
  }
  .dough{
    position: relative; 
    top: -15px; 
  }
  .sketch{
    position: relative; 
    top: -10px; 
  }
  button{
    border: 0;
    padding: px;
    font-size: 18px;
    background: pink;
    font-family: 'Josefin Sans', sans-serif;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
      font-family: 'Josefin Sans', sans-serif;
    }
    li {
      padding: 5px;
      display: block;
    }
    
  }